<section class="w-full h-full px-4 bg-gradient-to-tl">
  <nav class="flex items-center justify-between w-full h-16 border-b-2">
    <h1 class="inline-block m-4 text-2xl text-blue-900">Curriculum</h1> 
    <%= link_to new_owner_course_chapter_path(@course) do %>
    <button class="px-4 py-2 mx-5 my-auto bg-green-400 border-0 border-gray-800 rounded">新增章節</button>
    <% end %>
  </nav>

	<% @chapters.each do |chapter| %>
		<table class="w-full mt-16 border border-gray-200 table-auto min-w-max">
			<thead>
				<tr class="w-full mt-10 text-sm leading-normal text-gray-600 uppercase bg-gray-200">
					<th class="px-6 py-3 text-left">CHAPTER :<%= chapter.title %></th>
				</tr>
			</thead>
		<% chapter.sections.each do |section| %>
			<tbody class="text-sm font-light text-gray-600">
				<tr class="border-gray-200 hover:bg-green-100">
						<td class="px-6 py-3 text-left whitespace-nowrap">
								<div class="flex items-center">
									<div class="mr-2">
									</div>
									<span class="font-medium">123123123</span>
								</div>
						</td>
				</tr>
				<tr class="border-gray-200 hover:bg-green-100">
						<td class="px-8 py-5 text-left whitespace-nowrap">
								<div class="flex items-center">
									<div class="mr-2">
									</div>
									<span class="font-medium text-green-500">123123123</span>
								</div>
						</td>
				</tr>
			</tbody>
		</table>
  	<% end %>
	<% end %>
</section>


