<% flash.each do |type, msg| %>
  <div class="flash flash-<%= type %>" data-controller="flash">
    <span class="flash-msg"><%= msg %></span>
    <div class="flash-btn">
      <button data-action="click->flash#closeFlash"><i class="fa-solid fa-xmark"></i></button>
    </div>
  </div>
<% end %>
