<div class="owner-list">
    <div class="owner-title">
        <div>
            <h1 class="text-4xl">講師名單</h1>
        </div>
        <div>
            <%= link_to "新增講師", new_owner_lecturer_path %>
        </div>
    </div>

    <table class="owner-table">
        <thead class="owner-thead">
            <th class="owner-text text-left">講師姓名</th>
            <th class="owner-text text-center">其他</th>
        </thead>

        <tbody class="owder-tbody">
            <% @lecturers.each do |lecturer| %>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="owner-text text-left whitespace-nowrap">
                <div class="flex items-center">
                  <div class="mr-2">
                    <span class="font-medium"><%= lecturer.name %></span>
                  </div>
                </div>
					    </td>

              <td class="px-6 py-3 text-center">
						    <div class="flex justify-center item-center">
							    <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                    <%= link_to "修改", edit_owner_lecturer_path(lecturer.id) %>
								    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
									  </svg>
							    </div>
							    <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                    <%= link_to "刪除", owner_lecturer_path(lecturer.id), method: "delete", data: {confirm: "確認是否刪除？"} %>
								    <svg xmlns="http://www.w3./2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
										  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
								    </svg>
							    </div>
						    </div>
					    </td>
            </tr>
            <% end %>
        </tbody>
    </table>

</div>