@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./home";
@import "./member";
@import "./nav";
@import "./courses_index";
@import "./courses_show";
@import "./section_header";
@import "./section_show";
@import "./owner";
@import "./owner_sidebar";
@import "./markdown";
@import "./comment";

// form controls
.form-control-group {
  @apply flex pl-2;
}

label.avatar-label {
  div {
    position: relative;

    &::before {
      content: "點擊編輯頭像";
      position: absolute;
      inset: 0;
      z-index: 1;
      line-height: 160px;
      text-align: center;
      background-color: transparent;
      opacity: 0;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      line-height: 160px;
      background-color: black;
      opacity: 0;
    }

    &:hover::before {
      opacity: 100%;
    }

    &:hover::after {
      opacity: 30%;
    }
  }
}

input {
  @apply w-full pl-3 py-1 mt-1 mb-3 border bg-gray-50 border-primary-300 rounded;

  &:focus {
    @apply border-2 border-primary-300 outline-none ring-2 ring-primary-300;
  }
}

input[type="checkbox"] {
  @apply w-auto mr-4;

  &:focus {
    @apply border-primary-300;
  }

  &:checked {
    @apply bg-primary-300;
  }
}

input[type="submit"] {
  @apply pl-0 border-none bg-primary-300;

  &:hover {
    @apply bg-primary-300 ring-offset-primary-300 ring-offset-1 cursor-pointer;
  }

  &:focus {
    @apply ring-offset-primary-300;
  }

  &:active {
    @apply border-none ring-offset-primary-300;
  }
}

textarea {
  @apply border border-primary-300 rounded;
}

.field_with_errors {
  input {
    border-color: red;
    border-width: 1px;

    &:focus {
      @apply ring-0 border-2;
    }
  }

  label {
    color: red;
  }
}

// flash messages
.flash {
  @apply flex justify-between items-center pl-4 pr-2 py-2 my-2 text-white rounded-md;
}

.flash-notice {
  @apply bg-safe;
}

.flash-alert {
  @apply bg-red-600;
}

.flash-btn {
  @apply block w-8 h-8 rounded-full;

  &:focus {
    @apply bg-white text-black;
  }

  &:active {
    @apply bg-white text-black;
  }
}

// front stage common style
.header {
  height: 88px;
  overflow: hidden;
  transition: height 0.15s linear;
}

.main {
  padding-top: 88px;
}



.input {
  @apply appearance-none
  block
  w-full
  px-3
  py-1.5
  text-base
  font-normal
  text-primary-300
  bg-white bg-clip-padding bg-no-repeat
  border border-solid border-primary-300
  rounded
  transition
  ease-in-out
  m-0
  focus:text-primary-300 focus:bg-white focus:border-primary-300 focus:outline-none
}