@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./devise";
@import "./nav";
@import "./course_index";
@import "./courses_show";
@import "./section_header.scss";

input {
  border: 1px solid #000;
}

textarea {
  @apply border border-black;
}

.header {
  height: 88px;
  overflow: hidden;
  transition: height 0.15s linear;
}

.main {
  padding-top: 88px;
}
