.course-card {
  @apply flex flex-col w-full mx-auto shadow rounded overflow-hidden shadow-lg transition;
}

.course-card-hover:hover {
  @apply transform -translate-x-1 -translate-y-1 transition duration-300;
}

.course-card-hover:hover h2 {
  @apply text-green-400;
}

.course-card-hover h2 {
  @apply transition;
}

.course-card-image {
  aspect-ratio: 16/9;
  position: relative;
}

.course-card-image img {
  aspect-ratio: 16/9;
}

.course-card-image div {
  @apply absolute inset-0 flex justify-center items-center text-xl tracking-widest text-white bg-gray-500;
}

.course-card-main {
  @apply flex-grow;
}
