.member-form {
  @apply px-4 py-8 mx-auto sm:w-2/3 lg:w-2/5 shadow-lg;
}

.member-form-title {
  @apply mb-6 text-2xl font-extrabold text-center leading-6 text-gray-800;
}

.form-link {
  @apply flex justify-center items-center px-3 py-2 my-2 text-center rounded-md;
}

.form-link-self {
  @apply bg-green-300;

  &:hover {
    @apply bg-green-400;
  }
}

.form-link-google {
  @apply bg-gray-50 border border-gray-200;

  &:hover {
    @apply bg-gray-200;
  }
}

.member-footer {
  @apply flex items-center mt-4 text-sm italic text-gray-400 tracking-widest;

  &::before {
    content: "";
    flex-grow: 1;
    margin-right: 16px;
    border-top: 1px rgba(156, 163, 175, var(--tw-text-opacity)) solid;
  }

  &::after {
    content: "";
    flex-grow: 1;
    margin-left: 16px;
    border-top: 1px rgba(156, 163, 175, var(--tw-text-opacity)) solid;
  }
}

.login {
  @apply focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-gray-700 py-3.5 px-4 border rounded-lg border-gray-700 flex items-center w-full mt-10;
}

.google {
  @apply focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-gray-700 py-3.5 px-4 border rounded-lg border-gray-700 flex items-center w-full mt-10;
}
