.logo {
  @apply w-60 p-4;
}

.login-area {
  @apply items-center;

  li:not(:last-child) {
    @apply md:border-r md:border-black;
  }

  a {
    @apply block w-full py-4 md:px-8 md:py-8 hover:underline hover:bg-green-400 transition;
  }
}

.show-animation {
  max-height: 500px;
  transition: max-height 0.3s linear;
}

.fade-animation {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s linear;
}
