.owner-main {
  flex-grow: 1;
  overflow-y: scroll;
  border-top: 16px solid #f9c04b;
}

.owner-list {
  @apply w-full h-full px-4 py-10 m-auto bg-gradient-to-tl;
}

.owner-title {
  @apply flex justify-between w-full mb-11;
}

.owner-table {
  @apply w-full table-auto min-w-max;
}

.owner-thead {
  @apply leading-normal text-blue uppercase bg-blue-sea border-b border-blue;
}

.owner-text {
  @apply px-6 py-3 font-bold;
}

.owner-tbody {
  @apply text-sm text-black;
}

.tag {
  @apply px-3 py-2 text-sm rounded-full;
}

.tag-publish {
  @apply text-white bg-yellow;
}

.tag-draft {
  @apply text-white bg-yellow-draft;
}


