<ul class="w-2/3 mx-auto chapter lg:w-1/2">
  <li class="text-lg chapter-title">
    <i class="mr-2 fa-solid fa-graduation-cap"></i><%= chapter.title %>
  </li>
  <%= render partial: "courses/section", collection: chapter.sections.published, locals: {course: @course} %>
</ul>