<ul class="chapter w-2/3 lg:w-1/2 mx-auto">
  <li class="chapter-title text-lg"><i class="fa-solid fa-graduation-cap mr-2"></i><%= chapter.title %></li>
  <%= render partial: "courses/section", collection: chapter.sections, locals: {course: @course} %>
</ul>